<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <div class="container flex flex-center">
    <div class="nav-bar">
      <div class="nav-btns">
        <a href="/">Home</a>
        <a href="">Dashboard</a>
        <a href="/login">Log in</a>
      </div>
      <div class="create-post">
        <form action="POST">
          <label for="title">title</label>
          <input type="text" name="title" id="title">
          <label for="markdown">Text</label>
          <textarea name="markdown" id="markdown" cols="30" rows="10"></textarea>

          <button type="submit">Submit Post</button>
        </form>
      </div>
    </div>
  </div>
  
</body>
</html>